.navigator {
    width: 100%;
    height: 52px;

    display: flex;
    justify-content: center;

    background: var(--rainbow, linear-gradient(90deg, #FFD3D3 0%, rgba(255, 245, 218, 0.83) 25.83%, #F4FFE3 47.19%, #F3F3FF 64.9%, #EDEEFF 80.29%, #FADDFF 100%));
    flex-shrink: 0;

    
}

.page-cover {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
