.content {
    display: flex;
    flex-direction: column;
    
    position: relative;
    width: min-content;
    height: auto;
}

.slidebar {

    position: sticky;
    top: 0px;

    width: auto;
    height: auto;
}
