.avatar {
    width: 232px;
    height: 296px;
    flex-shrink: 0;
    border-radius: 74px;
    background: #D9D9D9;

    overflow: hidden;
}

.round-buttom {
    /* round-buttom */
    position: relative;
    width: 51px;
    height: 51px;

    background: #D9D9D9;
    border-radius: 40px;
}

.buttom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 232px;
    height: 51px;
    flex-shrink: 0;
}

.line-text {
    width: 232px;
    height: 51px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.info {
    display: flex;
    width: auto
    height: auto
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
}

.block-text {
    width: 232px;
    height: 355px;
    flex-shrink: 0;
    background: #D9D9D9;
}
