.panel {
    display: flex;
    width: 277px;
    height: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.avatar {
    width: 100%;
    height: 213px;
    background: #ffffff00;

    display: flex;
    justify-content: center;

    box-shadow: inset 0px 0px 10px rgba(101, 101, 101, 0.573);
}
.avatar img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    width: 100%;
    height: 131px;
    background: #ffffff00;

    box-shadow: inset 0px 0px 10px rgba(101, 101, 101, 0.573);
}

.more-opt {
    width: 100%;
    height: 556px;
    flex-shrink: 0;
    background: #ffffff00;

    box-shadow: inset 0px 0px 10px rgba(101, 101, 101, 0.573);
}

// ------------------------------------------------------
.icon-warp {
    width: 63px;
    height: 900px;
    background: #d1d1d1a2;

    display: flex;
    flex-direction: column;
}

.hide-slidebar-button {
    width: 63px;
    height: 63px;
    background: #ff5454;
}