.panel {
    display: flex;
    width: 277px;
    height: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.avatar {
    width: auto;
    height: 213px;
    background: #9C96E0;
}

.info {
    width: auto;
    height: 131px;
    background: #C28080;
}

.more-opt {
    width: auto;
    height: 556px;
    flex-shrink: 0;
    background: #754699;
}

// ------------------------------------------------------
.icon-warp {
    width: 63px;
    height: 900px;
    background: #664A4A;
}