.slidbar {
    width: 232px;
    height: 902px;
    flex-shrink: 0;
    background: #ff9191;
}

.avatar {
    width: 232px;
    height: 296px;
    flex-shrink: 0;
    background: #9a91ff;
}

.round-buttom {
    /* round-buttom */
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    background: #a65151;
    border-radius: 40px;
}

.buttom-line {
    display: flex;

    flex-direction: row;
    justify-content: center;

    width: 232px;
    height: 51px;
    flex-shrink: 0;
}

.line-text {
    width: 232px;
    height: 51px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.panel {
    display: flex;
    width: 232px;
    height: 199px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
}

.block-text {
    width: 232px;
    height: 355px;
    flex-shrink: 0;
}


