.right-container {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 300px;
}

.left-container {
    position: relative;
    width: auto;
    height: auto;
}

.content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: auto;
    height: auto;
}