<div class="card-img">

  <svg width="550" height="246" viewBox="0 0 550 246" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="<%= patternId %>" patternUnits="userSpaceOnUse" width="340" height="220">
        <image xlink:href="<%= randomUrl %>" x="0" y="0" width="340" height="220" preserveAspectRatio="xMidYMid slice" />
      </pattern>
    </defs>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M550 246H6.10352e-05V0H412.902L550 246Z" fill="url(#<%= patternId %>)" />
  </svg>


</div>