<div class="card-list-title">
  <div class="card-list-title-text">
    文章列表
  </div>
  <svg width="741" height="7" viewBox="0 0 741 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="4.37114e-08" y1="0.5" x2="741" y2="0.500065" stroke="#7F6E96" />
    <line x1="74" y1="6.5" x2="665" y2="6.49995" stroke="#7F6E96" />
  </svg>
</div>