<div class="card-img">
    
  <svg width="340" height="220" viewBox="0 0 340 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="<%= patternId %>" patternUnits="userSpaceOnUse" width="340" height="220">
        <image xlink:href="<%= randomUrl %>" x="0" y="0" width="340" height="220" preserveAspectRatio="xMidYMid slice" />
      </pattern>
    </defs>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M339.294 0H45C20.1472 0 0 20.1472 0 45V175C0 199.853 20.1472 220 45 220H281.354L339.294 0Z" fill="url(#<%= patternId %>)"/>
  </svg>

</div>