<div class="card-img">

  <svg width="340" height="220" viewBox="0 0 340 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="<%= patternId %>" patternUnits="userSpaceOnUse" width="340" height="220">
        <image xlink:href="<%= randomUrl %>" x="0" y="0" width="340" height="220" preserveAspectRatio="xMidYMid slice" />
      </pattern>
    </defs>

    <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.05176e-05 0H294.294C319.147 0 339.294 20.1472 339.294 45V175C339.294 199.853 319.147 220 294.294 220H57.9404L-3.05176e-05 0Z" fill="url(#<%= patternId %>)" />
  </svg>
  </svg>

</div>