
<div class="card-img">

  <svg width="550" height="246" viewBox="0 0 550 246" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="<%= patternId %>" patternUnits="userSpaceOnUse" width="550" height="246">
        <image xlink:href="<%= randomUrl %>" x="0" y="0" width="550" height="246" preserveAspectRatio="xMidYMid slice" />
      </pattern>
    </defs>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 246H550V0L137.098 4.43878e-06L0 246Z" fill="url(#<%= patternId %>)" />
  </svg>


</div>