<div class="recommend-card-container">
  <div class="recommend-card-warp">
    <div class="recommend-card">
      <div class="recommend-card-content">
        <% theme.recommend_card.article.forEach(element => { %>


        <div class="recommend-card-content-article-item random-color">
          <a href=<%= element.url %>>
            <%= element.article_title %>
          </a>
        </div>
        <% }); %>
      </div>
      <img src=<%= theme.recommend_card.cover %>>

    </div>
  </div>

  <div class="placard-warp">
    <div class="placard">

    </div>
  </div>
</div>