<div class="post">
  <h1><%=page.title%></h1>
  <%-page.content%>
</div>

<div id="paginator">
  <%-paginator()%>
</div>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    securityLevel: 'loose',
    theme: 'base',
  });
</script>

<% if (theme.post_scripts !== undefined && theme.post_scripts.length > 0) { %>
<!-- scripts list from theme config.yml -->
<% theme.post_scripts.forEach(url => { %>
<script src="<%=url%>"></script>
<% }); %>
<% } %>