.right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: auto;
}

.left-container {
    position: relative;
    width: auto;
    height: auto;
}

.content-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    margin: 0px 0px 0px 10%;
}

.home-page {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: auto;
    height: auto;
}