.article-list-title {
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-list-title-text {
    width: 102px;
    height: 30px;
    color: #754699;
    font-family: Londrina Solid;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}

.two-lines {
    display: flex;
    width: 741px;
    height: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.article-list-title-line-1 {
    width: 741px;
    height: 2px;
    background: #000;
}

.article-list-title-line-2 {
    width: 591px;
    height: 1px;
    background: #000;
}