.article-list-title {
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.article-list-title-text {
    width: 102px;
    height: 30px;
    color: #754699;
    font-family: Londrina Solid;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}
