.lay {
  /* Frame 2 */

  position: absolute;
  width: 607px;
  height: 202px;
  left: 60px;
  top: 170px;



  /* Rectangle 1 */

  position: absolute;
  width: 607px;
  height: 202px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;


  /* Vector 1 */

  position: absolute;
  width: 364px;
  height: 202px;
  left: 0px;
  top: 0px;

  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 34px;

}
