.title-card-container {
    display: flex;
    width: auto
    height: auto
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
    flex-shrink: 0;
}

.title-card {
    width: 343px;
    height: 223px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}