.card-meta {
    width: auto;
    height: 25px;
    flex-shrink: 0;
    color: #5553A7;
    font-family: Londrina Solid;
    font-size: 15px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}

.card-img {
    flex: 0.8;
    width: 340px;
    height: 262px;
    position: relative;
    top: 0px;
    left: 0px;
}

.card-title {
    width: auto;
    height: 35px;
    position: relative; // 或者其他你需要的位置属性值
    text-decoration: none; // 去掉超链接下的横线
    color: #7F6E96;
    font-family: Londrina Solid;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.card-abstract {
}

.card-content-box {
    width: 392px;
    height: 241px;
    flex-shrink: 0;
}