.recommend-card-container {
    display: flex;
    width: min-content;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
}

.card-container {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    background: #FFF;
    gap: 20px;
}