.recommend-card {
    display: flex;
    width: 550px;
    height: 344px;
    padding: 29px 28px 30px 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #697677;
}

.placard-warp {
    display: flex;
    width: 340px;
    height: 344px;
    padding: 29px 31px 30px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #B07777;
}