<div class="background">
  <% var urls = config.imgURLs;
      var randomIndex = Math.floor(Math.random() * urls.length);
      var randomUrl = urls[randomIndex]; %>

  <img src="<%= randomUrl %>" alt="">

  <div class="title-text animate__animated animate__bounce">
    <h1>This is
      <span class="name">
        <%=config.author%>
      </span>
    </h1>
    <%=config.proverb%>

  </div>
</div>

<div class="background-coverage">
  <!--Typed text-->
  <div class="background-coverage-text">
    <span id="background-coverage-text">
    </span>
  </div>
</div>

<div class="background-occupation">

</div>